@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Happy Drug Store Welcomes You</h1>
    <p>Check out our top sold medications</p>
    <p>
        If you have any comments or suggestions please 
        <a asp-controller="Home" asp-action="ContactUs">Contact Us</a>
    </p>
</div>
